* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.container {
    width: 320px;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: #003b5b;
}
h4 {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}
input, select, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-family: 'Poppins', sans-serif;
}
select {
    background-color: white;
    color: #333;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
}
#submit:hover {
    background-color: #333333;
}
